.memory-pic {
    border: red solid 5px;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    box-shadow: 3px 3px 3px gray;
    margin: auto;
}

.memory-pic:hover {

    transform: scale(1.05);
    transition: 0.1s;

}

.memory-pic:active {
    transform: scale(0.95);
    transition: 0.1s;
}